body {
  background: rgb(121, 28, 116);
  margin: 0;
  padding: 0;
}
h1 {
  text-align: center;
}
.menuPrincipal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: 0;
}
li {
   float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
li a:hover {
  background: rgb(20, 66, 151);
  color: rgb(104, 94, 3);
}
#barcelona {
  width: 80px;
}
.caixabrasil {
  position: absolute;
  top: 100px;
  left: 0;
  width: 90%;
  height: 140px;
  background: rgb(147, 150, 5);
  margin: 20px;
  border-color: rgb(170, 49, 49);
  border-width: 20px;
  border-style: double;
  padding: 20px;
  display: flex;
  justify-content: center;
}
.rodape {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  height: 40px;
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  font-size: 19px;
}
.conteudo {
  position: absolute;
  top: 40px;
  width: 100%;
  color: antiquewhite;
}
.conteudo2 {
  position: absolute;
  text-align: center;
  top: 50px;
  width: 100%;
  color:rgb(255, 255, 255);
}
.conteudo3 {
  position: fixed;
  text-align: center;
  top: 150px;
  width: 100%;
}
.conteudo5 {
  position: absolute;
  text-align: right;
  width: 100%;
  color: aliceblue;
  font-size: 19px;
}



